MONGODB_URI=mongodb://admin:123456@localhost:27017/mongodb?authSource=admin
MONGODB_DB=mongodb

RABBITMQ_URI=amqp://guest:guest@localhost:5672/
RABBITMQ_ONBOARDING_EXCHANGE=onboarding.exchange
RABBITMQ_ONBOARDING_QUEUE=notification.onboarding.queue
RABBITMQ_OFFBOARDING_EXCHANGE=offboarding.exchange
RABBITMQ_OFFBOARDING_QUEUE=notification.offboarding.queue
